<!DOCTYPE html>
<html lang="en">
	<head class= "head">
		<title>Burger</title>
		<link rel="stylesheet" href="/assets/css/burger_style.css" >
		<img src="/assets/img/grilling-clipart-animated-13.png" style="width:100px;height:200px;">
	</head>
	<body class="body">
		{{{ body }}}
        
	</body>
</html>
